<div id="spinnerWrapper">
    <mat-spinner *ngIf="!hideSpinner"></mat-spinner>
  </div>
<div class="container" *ngIf="hideSpinner">
<div class="header">
<mat-card  id="card" *ngIf='course' class="mat-elevation-z3">
  <div style="width: 100%; display:inline-block;">
    <div style=" float:right;">
      <button mat-button class="back-btn" [routerLink]="['/course']">Back</button>
    </div>
    <div>
      <h3 >{{course.name}}</h3>
  </div>
</div>
</mat-card>

</div>
<div class="part" >
    <mat-card *ngIf='course' class="mat-elevation-z3">

   <h5 style="color:rgba(0, 150, 136, 1);">Description</h5>

    <p>
      {{course.description}}
    </p>

    </mat-card>
  </div>
<div style="display: inline-block;width: 100%">
  <div class="part" style="float:left; width: 73%;height: 100%">
      <mat-card *ngIf='course' class="mat-elevation-z3">
        <mat-card-title>
          <h4 style="color:rgba(0, 150, 136, 1);display:inline-block">Additional informations</h4>
          <button mat-mini-fab color="primary" style="margin-left: 15px; margin-top: 15px;" [routerLink]="['/course/addedit', course.id]" >
            <i class="material-icons">edit</i>
          </button>
        </mat-card-title>
        <mat-card-content>
          <div class="details-row">
            <b style="color:rgba(0, 150, 136, 1);">Start date: </b> {{ course.startDate | date: shortDate }}   <b style="color:rgba(0, 150, 136, 1);">Time: </b> {{ course.classStartTime }} <br />
          </div>
          <div class="details-row">
            <b style="color:rgba(0, 150, 136, 1);">Days of week: </b>{{ course.daysOfWeek }} <br />
          </div>
          <div class="details-row">
            <b style="color:rgba(0, 150, 136, 1);">Created by: </b>{{ course.administrator }} <br />
          </div>
          <div class="details-row">
            <b style="color:rgba(0, 150, 136, 1);">Educator: </b>{{ course.educator }} <br />
          </div>
          <div class="details-row">
            <b style="color:rgba(0, 150, 136, 1);">Filed: </b>{{ course.courseField }}
            <b style="color:rgba(0, 150, 136, 1);">Number of lectures: </b>{{ course.numberOfLectures }}
            <b style="color:rgba(0, 150, 136, 1);">Price: </b>{{ course.price }} <br />
          </div>


        </mat-card-content>

      </mat-card>
    </div>
  <div class="part" style=" float:right; width:26%;height: 100%;">
    <div>
        <mat-card *ngIf='course' class="mat-elevation-z3">

            <mat-card-content style="padding-left:15%;">
                <p style="font-size: 2em; color:rgba(0, 150, 136, 1);"><b>Average rate</b></p>
                          </mat-card-content>

          </mat-card>
    </div>
  <div style="margin-top: 20px;">
      <mat-card *ngIf='course' style="background:rgba(0, 150, 136, 1);" class="mat-elevation-z3">

          <mat-card-content style="padding:30%;">
<p style="font-size: 5em; color:white">{{course.avgRate |  number:'1.1-1'}}</p>
          </mat-card-content>

        </mat-card>
  </div>

</div>
</div>

<div class="part mat-elevation-z2">
    <mat-accordion >
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h5 style="color:rgba(0, 150, 136, 1);">Classes</h5>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list role="list">
              <mat-list-item role="listitem" *ngFor="let course of courses">
                  <div class="details-row">
                      <b> {{ course.name }} </b><br />
                    </div>
              </mat-list-item>
          </mat-list>

        </mat-expansion-panel>
      </mat-accordion>


</div>
<div class="part mat-elevation-z2">
    <mat-accordion >
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h5 style="color:rgba(0, 150, 136, 1);">Students on this course</h5>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list role="list">
              <mat-list-item role="listitem" *ngFor="let course of courses">
                  <div class="details-row">
                      <b> {{ course.name }} </b><br />
                    </div>
              </mat-list-item>
          </mat-list>

        </mat-expansion-panel>
      </mat-accordion>


</div>
</div>
