.container {
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1em;
  margin-bottom: 3em;
 width: 90%;
}
.back-btn{
  background-color: rgba(0, 150, 136, 1);
  color: white;

}

#card {
  background: white;
  border-radius: 2px;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;

 }

 .part{

  margin-top: 2%;


}

.details-row{
  padding: 10px;
  margin-top: 10px;
  background-color: rgba(238, 238, 238, 1);
}
#spinnerWrapper
{
  display: flex;
  justify-content: center;
  align-items: center;
}
