<div id="spinnerWrapper">
  <mat-spinner *ngIf="!hideSpinner"></mat-spinner>
</div>
<mat-card class="form-box" *ngIf="hideSpinner">

    <div class="head">Login</div>



  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"  id="login-form" novalidate>
      <div class="example-container">
        <mat-form-field class="form-group">
          <input matInput placeholder="Username" formControlName="username">
          <mat-error *ngIf="f.username.errors?.NotExist"> That username dosent exist!</mat-error>
          <mat-error *ngIf="f.username.errors?.required"> You must fill the username!</mat-error>
        </mat-form-field>

        <mat-form-field class="form-group">
          <input matInput type="password" placeholder="Password" formControlName="password">
        </mat-form-field>

        <button [disabled]="!loginForm.valid" mat-raised-button color="primary" class="btn" mat-button>Sign In</button>
        <p class="text-p">Don't have an account? <a href="#">Sign up</a> </p>
      </div>
    </form>
  </mat-card-content>


</mat-card>

