.container{
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1em;
}
.top-menu{
  display: inline-block;
  width:100%;

}
.menu-course{
  float:left;
  width:30%;
  height: 10%;


}
.btn-course{
  background-color:
  #598A96 ;
  color:white;
width:100%

}
.menu-educator{
  float:left;
  width:30%;
  height: 10%;
  margin-left: 1.5em;

}
.btn-educator{
  background-color:
  #D34949 ;
  color:white;
  width:100%


}
.menu-profile
{
  float:left;
  width:30%;
  height: 10%;
  margin-left: 1.5em;

}
.btn-profile{
  background-color:
  #FFCA49 ;
  color:white;
  width:100%
}
