.container{
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1em;
  margin-bottom: 3em;
}
.top-menu{
  display: inline-block;
  width:100%;


}
.menu-course{
  float:left;
  width:30%;
  height: 10%;
  display: flex;

}
.btn-course{
  background-color:
  rgba(124, 137, 208, 1);
  color:white;
width:100%

}
.menu-educator{
 float:left;
 width:30%;

  height: 10%;
  margin-left: 1.1em;
  display: flex;


}
.btn-educator{
  background-color:
  rgba(76, 189, 207, 1);
  color:white;
  width:100%


}
.menu-profile
{
 float:left;
 width:30%;

  height: 10%;
  margin-left: 1.1em;
  display: flex;

}

.menu-more
{
 float:left;
 width:1%;

  height: 10%;
  margin-left: 1.1em;
  display: flex;

}
.btn-profile{
  background-color:
  rgba(27, 188, 155, 1);
  color:white;
  width:100%
}

.btn-more{

  background-color:
  rgba(3, 211, 192, 1);
  color:white;
  width:100%
}
