.table-container {
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1em;
}

.box{
  background: #fff;
  margin: 10px auto;
  max-width: 90%;
  box-shadow: 0 3px 6px 0px rgba(0,0,0,0.16), 0 3px 6px 0px rgba(0,0,0,0.23);
}
