<div class="container">

    <mat-card class="mat-elevation-z1">

      <h1 style="display:inline;"> Add new notification</h1>
      <button mat-button class="back-btn"  routerLink='/notification'>Back</button>
    </mat-card>



  <mat-card class="mat-elevation-z1" style="margin-top: 5px;">
    <mat-card-subtitle class="example-container">
      <h2>Notification data</h2>
    </mat-card-subtitle>
    <mat-card-content>
      <form >
        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Title">
          </mat-form-field>

          <mat-form-field>
            <textarea matInput placeholder="Text"></textarea>
          </mat-form-field>

          <div class="btn-div">
            <button mat-button cdkFocusInitial class="save-btn" type="submit">Add</button>
        </div>
        </div>
      </form>
    </mat-card-content>

  </mat-card>
</div>
