table {
  width: 100%;
}

.mat-form-field {
  font-size: 20px;
  width: 50%;
}

.table-container {
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1em;
}

.table-header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.table-body{
  margin-top: 10px;
}

.table-cell{
  text-align: left;
  font-size: 18px;
}
.center{
  text-align: center;
}
.details-button {
  background-color:rgba(38, 166, 154, 1);
  color: white;
}
.add-button {

  background-color: rgba(0, 150, 136, 1);
  color: white;
  float: right;

}
.table-cell{
  text-align: left;
  font-size: 18px;
  padding: 0.5em;
}
