.notif-body{
  margin-top: 10px;
  border: 1px solid rgba(205, 205, 205, 1);

}

.notif-title{
  float:left;


}
.notif-title h3{
  color:rgba(76, 189, 207, 1);

}

.notif-date{
  float:right;

}

.notif-user{
  margin-top:20px;
  float:left;

}


#spinnerWrapper
{
  display: flex;
  justify-content: center;
  align-items: center;
}
