.box{
    background: #fff;
    margin: 10px auto;
    max-width: 90%;
    box-shadow: 0 3px 6px 0px rgba(0,0,0,0.16), 0 3px 6px 0px rgba(0,0,0,0.23);
  }

  .head {
    color: rgba(0, 150, 136, 1);
    font-size: 34px;
    font-weight: normal;
    padding: 10px 0;
    text-align: left;
    background: #fff;
  }
