<mat-card class="box" >

  <div class="head">Improve your skills. Explore our courses.</div>

</mat-card>

<mat-card class="box" >

    <p>Programming</p>
    <mat-card>
      <mat-card-title>C++ programming</mat-card-title>
      <mat-card-content>Lorem ipsum dolor sit amet. Lorem ispum dolor sit amet.</mat-card-content>

    </mat-card>
    <mat-card>
        <mat-card-title>C++ programming</mat-card-title>
        <mat-card-content>Lorem ipsum dolor sit amet. Lorem ispum dolor sit amet.</mat-card-content>

      </mat-card>
      <mat-card>
      <mat-card-title>C++ programming</mat-card-title>
      <mat-card-content>Lorem ipsum dolor sit amet. Lorem ispum dolor sit amet.</mat-card-content>

    </mat-card>
    <mat-card>
        <mat-card-title>C++ programming</mat-card-title>
        <mat-card-content>Lorem ipsum dolor sit amet. Lorem ispum dolor sit amet.</mat-card-content>

      </mat-card>

  </mat-card>
