.grid-container {
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1em;
}

.grid-body{
  margin-top: 2px;
}
.add-button {

  background-color: rgba(0, 150, 136, 1);
  color: white;
  float: right;

}

.card {
  width: 20%;
  height: 20%;
  border-radius: 0px;
  align-content: center;
  display: inline-flex;
  flex-direction: column;
  align-items: center;

 padding: 1em;
}


.card h4 {
  font-style: italic;

}


.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
  float: left;
  margin: 1rem;
  position: relative;
}

.demo-card-square.mdl-card:hover {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}

.demo-card-square > .mdl-card__title {
  color: #fff;
  background: rgba(0, 150, 136, 1);
}

.demo-card-square > .mdl-card__accent {
  background: #ff9800;
}

body {
  padding: 20px;
  background: #fafafa;
  position: relative;
}
#spinnerWrapper
{
  display: flex;
  justify-content: center;
  align-items: center;
}
