.container {
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1em;
  margin-bottom: 3em;
 width: 90%;
}
.back-btn{
  background-color: rgba(0, 150, 136, 1);
  color: white;

}
.part{

  margin-top: 1%;


}
#spinnerWrapper
{
  display: flex;
  justify-content: center;
  align-items: center;
}
