<div id="userMenuContent">
  <div id="card" *ngIf='_service?.currentUser'>
    <img src={{_service?.currentUser.avatarUrl}}
/>
    <h2>{{_service?.currentUser.firstName + ' ' + _service?.currentUser.lastName }}</h2>
    <h5>{{_service?.currentUser.accountType}}</h5>
  </div>

  <br>
  <br>
  <mat-nav-list>
    <a mat-list-item (click)="showProfile()">
      <mat-icon matListIcon>dashboard</mat-icon>
      Profile
    </a>
    <a mat-list-item (click)="logout()">
      <mat-icon matListIcon>exit_to_app</mat-icon>
      Logout
    </a>
  </mat-nav-list>
</div>
