<div id="userMenuContent">
  <div id="card" *ngIf='currentUser'>
    <img src={{currentUser.avatarUrl}}
/>
    <h4>{{currentUser.firstName + ' ' + currentUser.lastName }}</h4>
    <h6>{{currentUser.accountType}}</h6>
  </div>

  <br>
  <br>
  <mat-nav-list>
    <a mat-list-item (click)="show()">
      <mat-icon matListIcon>dashboard</mat-icon>
      Profile
    </a>
    <a mat-list-item (click)="logout()">
      <mat-icon matListIcon>exit_to_app</mat-icon>
      Logout
    </a>
  </mat-nav-list>
</div>
