#card {
  background:  rgba(0, 150, 136, 1);
  border-radius: 0px;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 #card h4, #card h6 {
   color: white;
   font-weight: normal;
 }
 #card h6 {
   font-style: italic;
   margin-top: 9px;
 }
 #card h4 {
   margin-bottom: 9px;
 }
 #card img {
   height: 150px;
   width: 150px;
   border-radius: 50%;
   margin-bottom: 2em;
   margin-top: 2em;
 }
 #userMenuContent {
   width: 27em;
 }
 #sideNavContainer {
   height: 100%;
 }
