.container{
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1em;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.save-btn{
  background-color: rgba(0, 150, 136, 1);
  color: white;
  margin-top: 10px;
  margin-left: 92.3%;
}

.btn-div{
width:100%;
}

.add-button {

  background-color: rgba(0, 150, 136, 1);
  color: white;
  float: right;

}
.notif-body{
  margin-top: 10px;
}

.notif-title{
  float:left;


}
.notif-title h3{
  color:rgba(0, 150, 136, 1);
}

.notif-date{
  float:right;

}

.notif-user{
  margin-top:20px;
  float:left;

}


#spinnerWrapper
{
  display: flex;
  justify-content: center;
  align-items: center;
}
